body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:linear-gradient(rgba(240, 255, 245, 0.945), rgb(135, 228, 155)) !important;
}
i{
    height:100px;
}
.battery{
    width:100%;
    height:150px;
    font-size:8em;
    text-align:center;
}
#history{
    display:block;
    margin:0 auto;
    height: 70px;
    width: 180px;
    font-size: 20px;
}
.salediv{
    display:inline-block;
}
#buy, #sell{
    height: 70px;
    width: 90px; 
    font-size: 20px; 
}
.buy-sell{
    text-align:center;
    margin:5px;
}

.navbar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  #title{
    position:absolute;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    font-size: 30px;
  }
  #color{
  color: rgb(125, 214, 140)
  }
  
  #color-dark{
    color:rgb(4, 117, 42);
  }

  #amount {
    width: 150px;
    margin-top: 10px;
  }

  .container{
    margin:0 auto;
    margin-left:350px;
    margin-top: 80px;
}
.img-battery{
    margin-left: 20px;    
}
.battery{
    border: 5px solid rgba(161, 167, 161, 0.623);
    width: 300px;
    border-radius: 20px;
    margin-left: 250px;
    margin-top: 40px;
    display: inline-block;
    background: linear-gradient(rgba(167, 177, 170, 0.281), rgba(97, 105, 99, 0.658));
}
.scrollbar {
    height: 300px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 5px;
}
.scrollbar2 {
    height: 200px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 5px;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; }
.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
.span{
    height: 180px;
}
.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
  
  .scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
  
  .scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851; }
.buttons{
    border: 5px solid rgba(161, 167, 161, 0.623);
    border-radius: 20px;
    width: 300px;
    height: 250px;
    margin-left: 800px;
    margin-top: -125px;
    padding-top: 40px;
    background: linear-gradient(rgba(167, 177, 170, 0.281), rgba(97, 105, 99, 0.658));
}
#logout{
    height: 50px;
    width: 100px;
    border: 5px solid rgba(86, 175, 86, 0.555);
    border-radius: 20px;
    position:absolute;
    top:10px;
    right:3%;
}
.h1-text{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(85, 88, 84)
}
.buy-modal{
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.border-buy{
    height: 50px;
    display:inline-block;
    border: 3px solid rgba(86, 175, 86, 0.555);
    border-radius: 10px; 
    margin-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-top: 5px;
}
.border-history{
    height: 50px;
    width: 150px;
    border: 3px solid rgba(86, 175, 86, 0.555);
    border-radius: 10px; 
    margin-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 5px;
}
